<div *ngIf="city && weekweather">
    <h1>5-Day Forecast for {{ city.name | titlecase }}, {{ city.country }}</h1>
    
    <div class="container-fluid" id="week-forecast-card-wrapper">
        <div class="row">
            <div class="col" *ngFor="let w of weekweather"><app-week-forecast-card [weather]="w"></app-week-forecast-card></div>
        </div>
    </div>

    <h2>Statistics</h2>

    <div class="container-fluid">
        <div class="row">
            <!-- Chart -->
            <div class="col" id="chart-wrapper">
                <div class="chart">
                    <canvas baseChart width="450"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [colors]="lineChartColors"
                        [chartType]="lineChartType"
                        [legend]="lineChartLegend"
                        [options]="lineChartOptions">
                    </canvas>
                </div>
            </div>
            <!-- Map -->
            <div class="col" id="map-wrapper">
                <div id="mapid"></div>
            </div>
        </div>
    </div>
</div>