h1 {
    font-weight: bold;
    font-size: 24px;
}

#week-forecast-card-wrapper {
    margin-top: 60px;
}

#week-forecast-card-wrapper .col {
    padding: 0 5px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 60px;
}

#map-wrapper, #chart-wrapper {
    min-width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    margin: 0 12px 10px 12px;
}

#chart-wrapper {
    overflow-x: auto;
}

#chart-wrapper {
    overflow-x: auto;
}

#chart-wrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

#chart-wrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #1a1a1a;
}

#mapid {
    width: 100%;
    margin: 8px;
}

@media screen and (max-width: 991px) {
    h2 {
        margin-top: 40px;
    }
}